#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid white;
}

.ticket {
    border-bottom: 0.1rem solid white;
    display: grid;
    grid-template-columns: 1fr 60px;
}

form {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 0.6rem;
}

form label { text-align: left }

input[type=submit] {
    grid-column: span 2;
}

.buttons-nav {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
}

.buttons-nav button {
    margin: 0 1rem;
}